body{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    padding: 10px;
    color: #3b0e51;
    background-color: #775e84;
}

button{
    text-decoration: none;
    border: none;
}

form{
    display:flex;
}
#post-form{
    display: none;
}
#delete-form{
    display: none;
}
#put-form{
    display: none;
}
input{
    flex-grow: 1;
}

#get-submit{
    text-decoration: none;
    border: none;
    height:45px;
    width:60px;
}

#post-submit{
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    border: none;
    height:45px;
    width:60px;
}

#delete-submit{
    text-decoration: none;
    border: none;
    height:45px;
    width:60px;
}

#put-submit{
    text-decoration: none;
    border: none;
    height:45px;
    width:60px;

}

#navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#titleBox{
    display: flex;
    justify-content: space-around;
}
#instructions{
    display:flex;
    justify-content: space-around;
}
#result{
    display: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px;
    align-content: center;
}

.card{
    margin-bottom: 10px;
    flex-grow: 1;
    background-color: #702896;
    padding: 15px;
    border: 2px solid grey;
}